 /* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1200px) { 
.row {
  margin-left: -22px;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
	float: left;
  min-height: 1px;
  margin-left: 22px;
  
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 22px;
  width: 962px;
}
.span12 {
  width: 962px;
}
.span11 {
  width: 880px;
}
.span10 {
  width: 798px;
}
.span9 {
  width: 716px;
}
.span8 {
  width: 634px;
}
.span7 {
  width: 552px;
}
.span6 {
  width: 470px;
}
.span5 {
  width: 388px;
}
.span4 {
  width: 306px;
}
.span3 {
  width: 224px;
}
.span2 {
  width: 142px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 1006px;
}
.offset11 {
  margin-left: 924px;
}
.offset10 {
  margin-left: 842px;
}
.offset9 {
  margin-left: 760px;
}
.offset8 {
  margin-left: 678px;
}
.offset7 {
  margin-left: 596px;
}
.offset6 {
  margin-left: 514px;
}
.offset5 {
  margin-left: 432px;
}
.offset4 {
  margin-left: 350px;
}
.offset3 {
  margin-left: 268px;
}
.offset2 {
  margin-left: 186px;
}
.offset1 {
  margin-left: 104px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.2869022869022873%;
  *margin-left: 2.2349272349272353%;
  margin-bottom: 22px;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.2869022869022873%;
}
.row-fluid .span12 {
  width: 100.00000000000001%;
  *width: 99.94802494802497%;
}
.row-fluid .span11 {
  width: 91.47609147609148%;
  *width: 91.42411642411643%;
}
.row-fluid .span10 {
  width: 82.95218295218297%;
  *width: 82.90020790020792%;
}
.row-fluid .span9 {
  width: 74.42827442827445%;
  *width: 74.3762993762994%;
}
.row-fluid .span8 {
  width: 65.90436590436592%;
  *width: 65.85239085239087%;
}
.row-fluid .span7 {
  width: 57.380457380457386%;
  *width: 57.32848232848234%;
}
.row-fluid .span6 {
  width: 48.85654885654886%;
  *width: 48.80457380457381%;
}
.row-fluid .span5 {
  width: 40.33264033264034%;
  *width: 40.28066528066529%;
}
.row-fluid .span4 {
  width: 31.808731808731814%;
  *width: 31.75675675675676%;
}
.row-fluid .span3 {
  width: 23.28482328482329%;
  *width: 23.232848232848237%;
}
.row-fluid .span2 {
  width: 14.760914760914762%;
  *width: 14.70893970893971%;
}
.row-fluid .span1 {
  width: 6.237006237006238%;
  *width: 6.185031185031185%;
}
.row-fluid .offset12 {
  margin-left: 104.5738045738046%;
  *margin-left: 104.4698544698545%;
}
.row-fluid .offset12:first-child {
  margin-left: 102.2869022869023%;
  *margin-left: 102.1829521829522%;
}
.row-fluid .offset11 {
  margin-left: 96.04989604989606%;
  *margin-left: 95.94594594594597%;
}
.row-fluid .offset11:first-child {
  margin-left: 93.76299376299377%;
  *margin-left: 93.65904365904368%;
}
.row-fluid .offset10 {
  margin-left: 87.52598752598755%;
  *margin-left: 87.42203742203745%;
}
.row-fluid .offset10:first-child {
  margin-left: 85.23908523908526%;
  *margin-left: 85.13513513513516%;
}
.row-fluid .offset9 {
  margin-left: 79.00207900207903%;
  *margin-left: 78.89812889812893%;
}
.row-fluid .offset9:first-child {
  margin-left: 76.71517671517674%;
  *margin-left: 76.61122661122664%;
}
.row-fluid .offset8 {
  margin-left: 70.4781704781705%;
  *margin-left: 70.3742203742204%;
}
.row-fluid .offset8:first-child {
  margin-left: 68.19126819126821%;
  *margin-left: 68.08731808731811%;
}
.row-fluid .offset7 {
  margin-left: 61.95426195426196%;
  *margin-left: 61.85031185031186%;
}
.row-fluid .offset7:first-child {
  margin-left: 59.667359667359676%;
  *margin-left: 59.56340956340958%;
}
.row-fluid .offset6 {
  margin-left: 53.430353430353435%;
  *margin-left: 53.32640332640334%;
}
.row-fluid .offset6:first-child {
  margin-left: 51.14345114345115%;
  *margin-left: 51.039501039501054%;
}
.row-fluid .offset5 {
  margin-left: 44.90644490644491%;
  *margin-left: 44.80249480249481%;
}
.row-fluid .offset5:first-child {
  margin-left: 42.61954261954263%;
  *margin-left: 42.51559251559253%;
}
.row-fluid .offset4 {
  margin-left: 36.38253638253639%;
  *margin-left: 36.27858627858629%;
}
.row-fluid .offset4:first-child {
  margin-left: 34.095634095634104%;
  *margin-left: 33.991683991684%;
}
.row-fluid .offset3 {
  margin-left: 27.858627858627862%;
  *margin-left: 27.75467775467776%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.571725571725576%;
  *margin-left: 25.46777546777547%;
}
.row-fluid .offset2 {
  margin-left: 19.33471933471934%;
  *margin-left: 19.23076923076923%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.04781704781705%;
  *margin-left: 16.943866943866944%;
}
.row-fluid .offset1 {
  margin-left: 10.810810810810812%;
  *margin-left: 10.706860706860708%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.523908523908524%;
  *margin-left: 8.41995841995842%;
}

}


 /* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

	.entry-blog-time {
		display: none; 
	}
	
	.navigation-search {
		width: 130px;
	}
	.row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
  .span12 {
    width: 724px;
  }
  .span11 {
    width: 662px;
  }
  .span10 {
    width: 600px;
  }
  .span9 {
    width: 538px;
  }
  .span8 {
    width: 476px;
  }
  .span7 {
    width: 414px;
  }
  .span6 {
    width: 352px;
  }
  .span5 {
    width: 290px;
  }
  .span4 {
    width: 228px;
  }
  .span3 {
    width: 166px;
  }
  .span2 {
    width: 104px;
  }
  .span1 {
    width: 42px;
  }
  .offset12 {
    margin-left: 764px;
  }
  .offset11 {
    margin-left: 702px;
  }
  .offset10 {
    margin-left: 640px;
  }
  .offset9 {
    margin-left: 578px;
  }
  .offset8 {
    margin-left: 516px;
  }
  .offset7 {
    margin-left: 454px;
  }
  .offset6 {
    margin-left: 392px;
  }
  .offset5 {
    margin-left: 330px;
  }
  .offset4 {
    margin-left: 268px;
  }
  .offset3 {
    margin-left: 206px;
  }
  .offset2 {
    margin-left: 144px;
  }
  .offset1 {
    margin-left: 82px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.7624309392265194%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%;
  }
  .row-fluid .span10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%;
  }
  .row-fluid .span9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%;
  }
  .row-fluid .span8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%;
  }
  .row-fluid .span7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%;
  }
  .row-fluid .span6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%;
  }
  .row-fluid .span5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%;
  }
  .row-fluid .span4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }
  .row-fluid .span3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%;
  }
  .row-fluid .span2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%;
  }
  .row-fluid .span1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%;
  }
  .row-fluid .offset12 {
    margin-left: 105.52486187845304%;
    *margin-left: 105.41847889972962%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.76243093922652%;
    *margin-left: 102.6560479605031%;
  }
  .row-fluid .offset11 {
    margin-left: 96.96132596685082%;
    *margin-left: 96.8549429881274%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.1988950276243%;
    *margin-left: 94.09251204890089%;
  }
  .row-fluid .offset10 {
    margin-left: 88.39779005524862%;
    *margin-left: 88.2914070765252%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.6353591160221%;
    *margin-left: 85.52897613729868%;
  }
  .row-fluid .offset9 {
    margin-left: 79.8342541436464%;
    *margin-left: 79.72787116492299%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 77.07182320441989%;
    *margin-left: 76.96544022569647%;
  }
  .row-fluid .offset8 {
    margin-left: 71.2707182320442%;
    *margin-left: 71.16433525332079%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.50828729281768%;
    *margin-left: 68.40190431409427%;
  }
  .row-fluid .offset7 {
    margin-left: 62.70718232044199%;
    *margin-left: 62.600799341718584%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.94475138121547%;
    *margin-left: 59.838368402492065%;
  }
  .row-fluid .offset6 {
    margin-left: 54.14364640883978%;
    *margin-left: 54.037263430116376%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.38121546961326%;
    *margin-left: 51.27483249088986%;
  }
  .row-fluid .offset5 {
    margin-left: 45.58011049723757%;
    *margin-left: 45.47372751851417%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.81767955801105%;
    *margin-left: 42.71129657928765%;
  }
  .row-fluid .offset4 {
    margin-left: 37.01657458563536%;
    *margin-left: 36.91019160691196%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.25414364640884%;
    *margin-left: 34.14776066768544%;
  }
  .row-fluid .offset3 {
    margin-left: 28.45303867403315%;
    *margin-left: 28.346655695309746%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.69060773480663%;
    *margin-left: 25.584224756083227%;
  }
  .row-fluid .offset2 {
    margin-left: 19.88950276243094%;
    *margin-left: 19.783119783707537%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.12707182320442%;
    *margin-left: 17.02068884448102%;
  }
  .row-fluid .offset1 {
    margin-left: 11.32596685082873%;
    *margin-left: 11.219583872105325%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.56353591160221%;
    *margin-left: 8.457152932878806%;
  }
	input,
	textarea,
	.uneditable-input {
	  margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
	  margin-left: 20px;
	}
	input.span12, textarea.span12, .uneditable-input.span12 {
	  width: 710px;
	}
	input.span11, textarea.span11, .uneditable-input.span11 {
	  width: 648px;
	}
	input.span10, textarea.span10, .uneditable-input.span10 {
	  width: 586px;
	}
	input.span9, textarea.span9, .uneditable-input.span9 {
	  width: 524px;
	}
	input.span8, textarea.span8, .uneditable-input.span8 {
	  width: 462px;
	}
	input.span7, textarea.span7, .uneditable-input.span7 {
	  width: 400px;
	}
	input.span6, textarea.span6, .uneditable-input.span6 {
	  width: 338px;
	}
	input.span5, textarea.span5, .uneditable-input.span5 {
	  width: 276px;
	}
	input.span4, textarea.span4, .uneditable-input.span4 {
	  width: 214px;
	}
	input.span3, textarea.span3, .uneditable-input.span3 {
	  width: 152px;
	}
	input.span2, textarea.span2, .uneditable-input.span2 {
	  width: 90px;
	}
	input.span1, textarea.span1, .uneditable-input.span1 {
	  width: 28px;
	}
	
	.carousel-control-container .left {
		left: -45px;
	}
	.carousel-control-container .right {
		right: -45px;
	}

	.header-slider {
		background-position: center center !important;
	}
	.ls-wp-fullwidth-helper {
		position: relative !important;
		top: 0 !important;
	}
	.content-container, .sub-footer, .footer {
		padding-left: 30px;
		padding-right: 30px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.layer-slider .button {
		font-size: 10px;
	}
	.page-callout {
	text-align: center; 
	}
	.page-name {
	display: none;
	}
	.entry-blog-time {
		display: none; 
	}
	.vc_span4 {
		margin-bottom: 22px;
	}
	.footer-widget .span3 {
		padding-top: 40px;
		padding-bottom: 40px;
		margin-top: 0px !important;
		box-sizing: content-box!important;
		-moz-box-sizing: content-box!important;
		-webkit-box-sizing: content-box!important;
		margin-left: -50%;
		padding-left: 50%;
		padding-right: 50%;
		width: 100%;
		position: relative;
		z-index: 0;
		background: #282828;
	}
	.classic .post-icons, .single .post-icons {
		float: none;
		position: static;
		margin-bottom: 12px;
	}
	.wpb_tour .wpb_tabs_nav {
		margin-bottom: 22px !important;
	}
	.wpb_tour .ui-tabs-panel {
		padding: 0px 0px 0px 0px !important;
	}
	.wpb_separator {
	background: #eee;
	margin-bottom: 60px !important;
	margin-top: 30px;
}	
	.ls-nav-prev, .ls-nav-next {
		display: none;
	}
	.footer-widget:nth-child(2n+1) .span3 {
		background: #2d2d2d;
	}
	.footer-widget > .span3 > ul {
		padding-left: 30px;
		padding-right: 30px;
	}
	.sub-footer {
		overflow: hidden;
	}
	.sub-footer, .sub-footer .row, .sub-footer .container {
		margin-top: 0px;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.callout h2 {
		font-size: 18px;
		display: block;
		margin-bottom: 22px;
	}
	.callout .large {
		font-size: 12px !important;
		padding: 14px 16px 14px 16px !important;
		margin-left: 0px;
		width: 100%;
		display: block;
	}
	.footer-widget > .span3 {
		border-right: 0px solid #444;
		padding-right: 22px;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	
	.ls-wp-fullwidth-helper {
		position: relative !important;
		top: 0 !important;
	}
	.header-slider {
		background-position: center center !important;
		}
	
	.header-slider {
		height: 200px !important;
		}
	.header-preloader {
		display: none;
	}
	.carousel-control-container {
		display: none;
	}
	.footer-bubble h3 {
		display: none;
	}
	.footer-bubble {
		padding-left: 20px;
		padding-right: 20px;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	.footer-bubble a {
		width: 100%;
		float: none;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	.pricing-2col .pricing-column {
		width: 100%;
	}
	.pricing-3col .pricing-column {
		width: 100%;
	}
	.pricing-4col .pricing-column {
		width: 100%;
	}
	.pricing-column {
		margin-bottom: 22px;
		border: 1px solid #ccc !important;
		border-radius: 5px;
	}
	.pricing-featured {
		border: 1px solid #ccc !important;
		padding-bottom: 22px;
		border-radius: 5px;
		top: 0;
		-moz-box-shadow:    none;
		-webkit-box-shadow: none;
		box-shadow:         none;
		z-index: 1;
		transition: top 0.4s, padding 0.4s;
		-webkit-transition: top 0.4s, , padding 0.4s, -webkit-box-shadow 0.4s; /* Safari */
		cursor: pointer;
	}
	#container {
		box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	}
	.copyright-text {
		text-align: center;
	}
	.copyright-text p {
		margin-bottom: 12px;
	}
	.footer-icons ul li {
		display: inline-block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-icons ul {
		text-align: center;
		width: 100%;
	}
	.header {
		display: none;
	}
	#main-container {
		width: 100%;
	}
	.body-container {
		margin-top: 0px;
		padding-top: 0px;
	}
	.content-container {
		padding-top: 30px;
		margin-top: 0 !important;
	}
	.page-header {
		position: static;
	}
	.footer-widget .span3 {
		margin-top: 22px;
	}
	.row {
		margin-left: 0px;
		*zoom: 1;
 	 }
	.header-navigation {
		display: none;
	}
	#container {
		width: 100%;
	}	
	.mobile-footer { 
		display: block;
	}
	#navigation {
		display: none;
	}
	.isotope-post:hover .entry {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	}
	.isotope-post:hover .entry-image-overlay {
		opacity: 0;
		background-size:40px 40px, 100% 100%;
	}
	#toTop {
	display: none !important;
	}
	.side-nav {
		display: none;
	}
	.dropdown a {
		padding-right: 15px !important;
	}
	.sub-menu li a {
		margin-right: -15px !important;
	}
	.dropdown:before {
		content: "";
		height: 21px !important;
		width: 21px !important;
		position: absolute;
		right: 5px !important;
		top: 12px !important;
		border-radius: 3px;
		background-color: transparent !important;
		background-image: url(../img/icon_menu_expand.png);
		background-position: center center;
		background-size: 7px 7px;
		background-repeat: no-repeat;
	}
	.mobile-nav-container {
		display: block;
	}
	.category-filter {
		padding-left: 20px;
	}
	#main-container {
		margin-left: 0px;
	}
	.content-container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.children {
		margin: 0 0 0px 40px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
	  	margin-left: -20px;
	  	margin-right: -20px;
	}
	.container-fluid {
	  	padding: 0;
	}
	.dl-horizontal dt {
	  	float: none;
	  	clear: none;
	  	width: auto;
	  	text-align: left;
	}
	.dl-horizontal dd {
	  	margin-left: 0;
	}
	.container, .body-container {
	  	width: auto;
	}
	.row-fluid {
	  	width: 100%;
	}
	.thumbnails > li {
	  	float: none;
	  	margin-left: 0;
	}
	[class*="span"],
	.uneditable-input[class*="span"],
	.row-fluid [class*="span"] {
	  	display: block;
	  	width: 100%;
	  	margin-left: 0;
	  	-webkit-box-sizing: border-box;
	  	-moz-box-sizing: border-box;
	  	box-sizing: border-box;
	}
	.span12,
	.row-fluid .span12 {
	 	width: 100%;
	 	-webkit-box-sizing: border-box;
	 	-moz-box-sizing: border-box;
	 	box-sizing: border-box;
	}
	.row-fluid [class*="offset"]:first-child {
	  	margin-left: 0;
	}
	.input-large,
	.input-xlarge,
	.input-xxlarge,
	input[class*="span"],
	select[class*="span"],
	textarea[class*="span"],
	.uneditable-input {
	  	display: block;
	  	width: 100%;
	  	min-height: 30px;
	  	-webkit-box-sizing: border-box;
	  	-moz-box-sizing: border-box;
	  	box-sizing: border-box;
	}
	.input-prepend input,
	.input-append input,
	.input-prepend input[class*="span"],
	.input-append input[class*="span"] {
	  	display: inline-block;
	  	width: auto;
	}
	.controls-row [class*="span"] + [class*="span"] {
	  	margin-left: 0;
	}
	.modal {
	  	position: fixed;
	  	top: 20px;
	  	left: 20px;
	  	right: 20px;
	  	width: auto;
	  	margin: 0;
	}
	.modal.fade {
	  	top: -100px;
	}
	.modal.fade.in {
	  	top: 20px;
	}
}

}
/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		.jp-progress {
	  padding: 0 12px 0 40px !important;
	}
	.jp-volume-bar {
	  display: none !important;
	}
	.jp-volume-bar:before {
	  display: none !important;
	}
	.jp-mute,
	.jp-unmute {
	  display: none !important;
	}
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	.jp-progress {
	  padding: 0 12px 0 40px !important;
	}
	.jp-volume-bar {
	  display: none !important;
	}
	.jp-volume-bar:before {
	  display: none !important;
	}
	.jp-mute,
	.jp-unmute {
	  display: none !important;
	}
}

