/* 
Theme Name: Valeta
Theme URI: http://www.yinkle.com
Description: A multi-purpose theme.
 
Author: Jaynesh
Author URI: http://themeforest.net/user/Jaynesh
Version: 1.0.1
Tags: light, gray, white, custom-menu, featured-images, post-formats, theme-options

License:GNU General Public License version 3.0
License URI:http://www.gnu.org/licenses/gpl-3.0.html

All files, unless otherwise stated, are released under the GNU General Public License
version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

-----------------------------------------------------------------------------------

	1.	Base CSS
	2.	Forms
	3. 	Features
	4.	Footer
	5.	Header/Navigation
	6.	Mobile Navigation
	7.	Posts
	8.	Post Formats
	9.	Comments
	10. Elements
	11.	Social Icons
	12.	Pages
	13.	Wordpress Core
	14.	Widgets
	15.	LayerSlider
	16. Visual Composer
	17.	Misc

-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	1. Base CSS
/*-----------------------------------------------------------------------------------*/

* { 
	margin: 0;
	padding: 0px;
	font-family: "Source Sans Pro";
} 
body { 
	background: #222222; 
	margin: 0; 
	height: 100%; 
	z-index: 1000;
	color: #555;
}
img	{ 
	border: 0; 
	padding: 0 0 0 0; 
}
a { 
	outline: none;
	font-weight: 600;
}
a:hover, a:visited, a:link, a:active { 
	text-decoration: none; 
	color: #666; 
}
a:hover {
	color: #333;
}
ul, li { 
	padding: 0 0 0 0; 
	margin: 0; 
	list-style-type: none; 
}
hr {
	border: 0;
	border-bottom: 1px dashed #ddd;
}
p { 
	width: 100%; 
	padding: 0 0 0 0; 
	margin-bottom: 15px; 
	font-family: "Source Sans Pro" !important; 
	font-weight: 300;
	font-size: 14px; 
	line-height: 24px;
	color: #666; 
 	margin-top: 0; 
}
p a { 
	color: #333 !important; 
}
h1, h2, h3, h4, h5, h6 { 
	font-family: "Source Sans Pro" !important;
	font-weight: 600;
	padding: 0 0 0 0; 
	margin-top: 0; margin-bottom: 12px; margin-left: auto; margin-right: auto; 
	color: #555;
	letter-spacing: -0.2px;
	line-height: 1.4em;
}
blockquote {
	border-left: 5px solid #ddd;
	padding: 0px 14px 0px 14px;
	margin: 22px 0 22px 22px;
}
blockquote p {
	font-style: italic;
	color: #555;
	font-weight: 500;
}
address, pre {
	margin-bottom: 12px;
	font-size: 12px;
}
.no-space [class*="span"] {
    margin-left: 0;
}
.no-margin {
	margin: 0px !important;
}
.margin-bottom0 {
	margin-bottom: 0px !important;
}
.margin-bottom {
	margin-bottom: 22px;
}
.margin-top {
	margin-top: 22px;
}
.padding-bottom0 {
	padding-bottom: 6px !important;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.center {
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}
.content-container {
	margin-top: 0px;
	transition: all 1s;
	-webkit-transition: all 1s; /* Safari */
	z-index: 100;
	position: relative;
	padding-bottom: 30px;
	padding-top: 30px;
	overflow: hidden;
   background-color: #f8f8f8;
}
.content-heading {
	margin-bottom: 30px;
	font-family: "Source Sans Pro";
	color: #555;
	font-size: 18px;
}
.content-heading a {
	color: #4DD2B8;
	font-weight: 500;
}
.content-heading a:hover {
	color: #444;
}
.heading { 
	font-size: 18px;
	font-family: "Source Sans Pro";
	margin-bottom: 12px;
	color: #555;
}
.single .heading {
	font-size: 26px;
}
.isotope .heading {
	margin-bottom: 12px;
	word-wrap: break-word;
}

.isotope .heading a {
	width: 65%;
	display: inline-block;
   font-size: 26px;
}
.heading a {
	color: #555;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari */
}
.heading a:hover {
	color: #60D7AB;
}
.isotope-loadmore {
	margin-bottom: 40px;
	margin-top: 30px;
	width: 100%;
	text-align: center;
		transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
}
.isotope-loadmore a {
	background: #EF6957;
	text-align: center;
	font-size: 14px;
	color: #fff;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari */
	padding: 14px 14px;
	border-radius: 3px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
}
.isotope-loadmore a:hover {
	background: #444;
}

.isotope .isotope-item .post{
   border-bottom: 1px solid #dcdcdc;
   margin-bottom: 30px !important;
}

.isotope .isotope-item .heading a{
   color:#000000 !important;
}


#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:30px;
	right:30px;
	overflow:hidden;
	width:50px;
	height:50px;
	border:none;
	text-indent:100%;
	background-color: #111;
	background-image: url(img/backtotop.png);
	background-repeat: repeat;
	background-position: 0px 0px;
	border-radius: 5px;
	z-index: 700;
	transition: all 0.4s;
	-moz-transition: all 0.4s; /* Firefox 4 */
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	-o-transition: all 0.4s; /* Opera */
	z-index: 10000;
}
#toTop:hover {
	background-color: #000;
	background-image: url(img/backtotop.png);
	background-position: 0px -50px;
}
#toTop:active, #toTop:focus {
	outline:none;
}
.no-comments p {
	text-align: center;
}
.entry table {
	border: 1px solid #ddd;
	margin-bottom: 22px;
}
.entry th {
	padding: 14px 18px 14px 18px !important;
	text-align: center !important;
}
.entry tr:first-child {
	border-bottom: 1px solid #ddd;
	background: #f1f1f1;
}
.entry td {
	padding: 14px 18px 14px 18px !important;
	color: #888;
	text-align: center !important;
	font-size: 11.5px;
}
.entry .th-black {
	background: #444;
}
dl {
	font-size: 12px;
}
dt {
	color: #333;
}
dd {
	color: #888;
	margin-bottom: 12px;
}
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	background: #f1f1f1;
	padding: 22px 22px 22px 22px;
	border: 1px solid #ccc;
}
footer {
	z-index: 10000;
}
.hidden {
	position: absolute;
	left: -999999px;
}

/*-----------------------------------------------------------------------------------*/
/*	2. Forms
/*-----------------------------------------------------------------------------------*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.submit {
	width: 80px; height: 40px;
	background: #333;
	color: #fff;
	padding: 0 0 0 0;
	margin-top: 0px !important;
	border: none;
	float: right;
	transition: all 0.4s; -moz-transition: all 0.4s; -webkit-transition: all 0.4s; -o-transition: all 0.4s;
}
.submit:hover {
	width: 80px; height: 40px;
	background: #666;
	color: #fff;
	padding: 0 0 0 0;
	border: none;
}
label {
	font-size: 13px;
	color: #666;
	display: inline-block;
	margin-bottom: 0px !important;
}
textarea {
	width: 100%;
}
input {
	height: 40px !important; 
	width: 100%;
}
input, textarea, select, a { outline: none !important; }
input, textarea {
	background: #fff;
	outline: none !important;
	border-radius: 3px;
	color: #888 !important;
	border: 1px solid #e7e7e7;
	padding: 12px 12px !important;
	cursor: pointer;	
	font-size: 12px !important;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	transition: all 0.4s; -moz-transition: all 0.4s; -webkit-transition: all 0.4s; -o-transition: all 0.4s;
	margin-bottom: 0px !important;
}
input:hover {
	border: 1px solid #999;
}
textarea:hover {
	border: 1px solid #999;
}
input:focus {
	border: 1px solid #666;
	cursor: text;
	background: #fff;
	color: #666;
}
textarea:focus {
	border: 1px solid #666;
	cursor: text;
	background: #fff;
	color: #666;
}
.contact-submit {
	display: inline-block;
}
#submit {
	background: #333;
	border: 0;
	border-radius: 5px;
	color: #fff !important;
	font-family: "Source Sans Pro";
	padding: 4px 18px !important;
	line-height: 0px;
	font-size: 14px;
	display: inline-block;
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	font-size: 13px !important;
	font-weight: 300 !important;
}
.contact-submit {
	background: #333;
	border: 0;
	border-radius: 5px;
	font-weight: 300 !important;
	color: #fff !important;
	font-family: "Source Sans Pro";
	padding: 12px 18px 12px 18px !important;
	font-size: 14px;
	display: inline-block;
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
#submit:hover, .contact-submit:hover {
	background: #5ED2C6;
	border: 0;
	border-radius: 5px;
	color: #fff !important;
	font-size: 14px;
}
.navigation-search #searchform {
	position: relative;
	margin-bottom: 0px;
}
.navigation-search {
	margin-right: 30px;
	opacity: 0.7;
}
.navigation-search input {
	background: transparent;
	border-radius: 0;
	border: 0;
	margin-bottom: 0px;
	border-bottom: 1px solid #fff;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.navigation-search input[placeholder] {
   color: #fff !important;
   opacity: 1 !important;
}
#searchform #searchsubmit {
	width: 35px;
	height: 35px;
	background-color: #333;
	background-image: url(img/search.png);
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent:-9999px;
	border: 0;
	top: 10px;
	position: absolute;
	bottom: 0;
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	3. Features
/*-----------------------------------------------------------------------------------*/

.features {
	padding: 0px 22px 0px 22px;
	text-align: center;
	margin-bottom: 30px;
}
.wpb_tabs .features {
	margin-bottom: 0px;
}
.features-readmore {
	padding-bottom: 4px;
	border-bottom: 1px solid #f1f1f1;
	font-weight: 400;
	font-size: 13px;
	color: #666 !important;
	margin-top: 22px;
	display: inline-block;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari */
}
.features-readmore:hover {
	color: #555 !important;
	border-bottom: 1px solid #555;
}
.features-icon {
	border-radius: 4px;
	display: inline-block;
	font-size: 26px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari */
	color: #5ED2C6;
}
.features-icon img {
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	line-height: 100px;
}
.features p {
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: center;
	font-family: "Source Sans Pro" !important;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.features h2 {
	font-family: "Source Sans Pro";
	font-weight: 600;
	color: #555;
	font-size: 17px;
	text-align: center;
}

/*-----------------------------------------------------------------------------------*/
/*	4. Footer
/*-----------------------------------------------------------------------------------*/

.callout {
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
	padding: 30px 30px;
	text-align: center;
}
.callout * {
	display: inline;
}
.callout .button {
	margin-left: 30px;
	font-size: 14px !important;
}
.callout h2 {
	margin-bottom: 0px;
}
.sub-footer {
	background: #2d2d2d;
	padding: 22px 0px 44px 0px;
	color: #fff;
	font-size: 12px;
}
.sub-footer .row {
	margin-bottom: 0px;
}
.sub-footer p {
	color: #fff;
}
.sub-footer li {
	padding: 12px 0px 12px 0px;
	border-bottom: 1px solid #747B84;
}
.sub-footer li:first-child {
	padding-top: 0;
}
.sub-footer li:last-child {
	border-bottom: 0;
}
.sub-footer h3 {
	color: #40434c;
	font-weight: bold;
	letter-spacing: -0.2px;
}
.footer {
	background: #222;
	border-top: 1px solid #393939;
}
.footer .container {
	margin-top: 0px;
	padding-top: 0px;
}

.footer .row {
	margin-top: 22px;
	margin-bottom: 22px;
}
.footer p {
	color: #ffffff;
	font-size: 13px;
	margin-bottom: 0px;
}
.footer p span{
   float: right;
}

.footer .up {
	position: absolute; 
	margin-top: -60px; 
	margin-right: 22px;
	right: 0;
}
.footer ul {
	float:right;
}
.quote-section {
	text-align: left;
	padding: 44px 30px 44px 30px;
	background: #fff;
	border-top: 1px solid #e7e7e7;
	text-align: center;
}
.quote-section *:last-child {
	margin-bottom: 0px;
}
.quote-section p {
	color: #9BA09F;
}
.quote-section [class*="icon-"] {
	color: #66DEC9;
	font-size: 30px;
	margin-bottom: 20px;
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s; /* Safari */
}
.quote-section [class*="icon-"]:hover {
	color: #555;
}

/*-----------------------------------------------------------------------------------*/
/*	5. Header/Navigation
/*-----------------------------------------------------------------------------------*/

.header {
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.header .container, .header-bar .container {
	margin-top: 0;
	padding-top: 0;
}
.header-logo, .header-mobile-logo {
	height: 48px;
	position: relative;
	top: 0px;
	float: left;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari */
	z-index: 1;
   margin-top: 50px;
   margin-right: 20px;
}
.header-logo img {
	height: 100%;
	width: auto;
}
.header-slider {
	height: 350px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover, 50px 50px;
}
.header-preloader {
	display: none;
	height: 32px;
	width: 32px;
	background-image: url('img/preloader.gif');
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 300px;
	z-index: -10;
}
.default-header-texture {
	height: 200px;
	width: 100%;
	background-color: #222;
	background-image: url(img/default-texture.jpg);
}
.custom-header-texture {
	background: #40434c;
	width: 100%;
	z-index: -1;
	margin: 0;
	height: 180px;
	text-align: right;
}
.custom-header-texture h1 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	display: inline-block;
	text-shadow: 1px 1px #333;
}
.custom-header-texture p {
	color: #fff;
	opacity: 0.8;
	font-size: 16px;
	text-shadow: 1px 1px #333;
}
.custom-header-texture > .container {
	padding-top: 0px;
}
.custom-header-texture > .container .row {
	margin-bottom: 0px;
}
.custom-header-texture > .container .row .span12 *:last-child {
	margin-bottom: 0px;
}
.navigation {
	text-align: right;
	margin-top: 50px;
	display: block;
	transition: all 0.2s;
    -webkit-transition: all 0.2s;
    float: left;
}
.navigation-container {
	width: 100%;
	z-index: 1000;
	margin-top: 0;
	padding-top: 0;
}
.navigation li {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	margin-left: -4px;
}
.navigation li a {
	color: #ffffff;   
	padding: 15px 20px 15px 20px;
	text-align: center;
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-weight: 500;
	background-image: url(img/navigation_divider.png);
	background-repeat: no-repeat;
	background-position: center left;
	display: block;     
}

.navigation li:first-child a {
	background-image: none;
}
.navigation li a:hover {
	opacity: 1;
	background-image: none;
	background-color: #ffffff;
   
	color: #000000 !important;
   text-shadow: none !important;
}
.navigation .dropdown:hover a {
	opacity: 1;
	background-image: none;
	background-color: #fff;
	color: #333;
}

.navigation > .menu-item-type-post_type{
   text-shadow: 2px 2px 2px #000000 !important;
}
.navigation .sub-menu .menu-item, .navigation > .menu-item-type-post_type{
   text-shadow:none;
}

.navigation .current-menu-item a {
	background: #fff url(img/navigation-active.png) !important;
	color: #333;
	position: relative;
   text-shadow: none !important;
}
/*.navigation .current-menu-item + li a*/
.navigation .current-menu-item 
{
	background-image: none !important;
   
   /*text-shadow: 2px 2px 2px #000000 !important;*/
   color:#ffffff !important;
}
.navigation .current-menu-item .sub-menu {
	margin-left: -1px;
}
.navigation-search {
	width: 200px;
}
.navigation .sub-menu {
	text-align: left;
	position: absolute;
	width: 190px;
	top: 100px;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	background: #fff;
	transition: top 0.3s, opacity 0.3s;
	-webkit-transition: top 0.3s, opacity 0.3s; /* Safari and Chrome */
	box-shadow: 8px 0 5px -6px rgba(0, 0, 0, 0.1), -8px 0 5px -6px rgba(0, 0, 0, 0.1), 0 8px 9px -6px rgba(0, 0, 0, 0.1);
}
.navigation .dropdown:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	top: 50px;
}
.navigation .dropdown > .sub-menu {
	background: #fff;
}
.navigation li {
	position: relative;
}
.navigation .sub-menu li {
	display: block;
	width: 100%;
	text-align: left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.navigation .sub-menu li a {
	color: #666 !important;
	text-align: left;
	width: 100%;
	padding: 17px 20px 17px 20px;
	font-weight: normal;
	font-size: 14px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	opacity: 1;
	display: inline-block;
	border-bottom: 1px dotted #ddd;
	background: none;
	transition: padding 0.3s;
	-webkit-transition: padding 0.3s; /* Safari and Chrome */
}
.navigation .sub-menu li:last-child a {
	border-bottom: none;
}
.navigation .sub-menu li a:hover {
	color: #000 !important;
	padding-left: 30px;
	background: #f7f7f7;
}

.header-mobile-logo {
	display: none;
}

/* Header on scroll */

.header-scrolled {
	background: #fff;
	position: fixed;
	z-index: 1000000000;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari */
	box-shadow: 8px 0 5px -6px rgba(0, 0, 0, 0.1), -8px 0 5px -6px rgba(0, 0, 0, 0.1), 0 8px 9px -6px rgba(0, 0, 0, 0.1);
}
.header-scrolled .navigation {
	margin-top: 0px;
}
.header-scrolled .row {
	margin-bottom: 0px;
}
.header-scrolled .navigation li a {
	color: #333;
	font-size: 13px;
   text-shadow: none !important;
}
.header-scrolled .navigation li a:hover {
	background: #EF6957 !important;
	color: #fff !important;
   
}
.header-scrolled .dropdown .sub-menu li a {
	background: #fff;
}
.header-scrolled .dropdown .sub-menu li a:hover {
	background: #f7f7f7;
	color: #333 !important;
}
.header-scrolled .navigation .current-menu-item a {
	background: #F96E5B !important;
	color: #fff !important;
}
.header-scrolled .header-mobile-logo {
	position: absolute;
	top: 8px;
}
.header-scrolled .header-mobile-logo img {
	height: 70%;
}
.header-scrolled .header-logo {
	display: none;
}
.header-scrolled .header-mobile-logo {
	display: block;
}
.header-scrolled .dropdown:hover > a {
	background: #F96E5B;
	color: #fff !important;
}

/*-----------------------------------------------------------------------------------*/
/*	6. Mobile Navigation
/*-----------------------------------------------------------------------------------*/

.mobile-logo img {
	height: 30px;
}
.mobile-nav-container {
	overflow: auto;
	width: 100%;
	display: none;
	position: relative;
	z-index: 500;
}
#mobile-nav {
	float: left;
	width: 100%;
	background: #222222;
}
#mobile-nav ul {
	padding: 8px 8px 8px 8px;
}
.mobile-nav-bar {
	background: #fff;
	width: 100%;
	z-index: -2;
	padding: 20px 20px 20px 20px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#mobile-nav li {
	font-weight: 300 !important;
	font-family: "Source Sans Pro" !important;
	font-size: 13px;
	padding: 12px 12px 12px 12px;
	text-align: left;
}
#mobile-nav ul > li:first-child {
	padding: 12px 12px 6px 0px;
}
#mobile-nav li a, #mobile-nav li a:hover {
	color: #eee !important;
	font-weight: 300 !important;
	font-family: "Source Sans Pro" !important;
}
#mobile-nav li .sub-menu li {
	padding: 12px 0px 0px 0px;
}
#mobile-nav li .sub-menu {
	padding: 0px 0px 0px 0px;
}
#mobile-nav li .sub-menu li a {
	color: #888 !important;
}
.btn-mobile-nav {
	border: none;
	background-color: #333;
	background-size: 24px 15px;
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	padding: 8px 16px 8px 16px !important;
	font-family: "Source Sans Pro";
	font-weight: 300;
	margin-top: -3px !important;
	cursor: pointer;
	color: #fff;
	border-radius: 2px !important;
	z-index: 10000000000;
}
#mobile-nav li a:hover .sub-menu {
	display: none;
}
#mobile-nav li .sub-menu {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	7. Posts
/*-----------------------------------------------------------------------------------*/

.isotope {
	margin-bottom: 0px !important;
	opacity: 0;
}
.content-container > .container > .row {
	margin-bottom: 0px !important;
}
.content-container > .container {
	padding-top: 0px;
}
.pagination a {
	background: #EF6957;
	padding: 12px 12px;
	color: #fff !important;
	font-weight: bold;
	border-radius: 3px;
	font-size: 12px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
}
.pagination a:hover {
	background: #444;
}
.read-more {
	padding: 8px 12px;
	border: 1px solid #ccc;
	margin-top: 12px;
	display: inline-block;
	font-size: 10px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
}
.read-more:hover {
	border: 1px solid #5ED2C6;
	color: #5ED2C6 !important;
}
.sticky-post .entry {
	border: 1px solid #ccc;
}
.classic {
	border-bottom: 1px solid #e7e7e7;
}
.single .classic {
	border-bottom: none;
	margin-bottom: 22px;
}

.entry {
	width: 100%;
	min-height: 50px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	position: relative;
	margin-bottom: 20px;
}
.wpb_row .isotope .entry {
	border-bottom: 1px solid #e7e7e7;
}
.type-portfolio .entry {
	margin-bottom: 0px;
}
.entry-blog-time {
	display: inline-block;
	padding: 0px 12px;
	border-right: 1px solid #ccc;
}
.entry-blog-time .time {
	font-weight: 600;
	font-size: 30px;
	color: #444;
	letter-spacing: 1px;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 12px;
}
.entry-blog-time .ago {
	font-size: 12px !important;
	display: block;
	color: #bbb;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
.single-meta {
	display: inline-block;
}
.post-meta {
	font-size: 12.5px;
	color: #bbb !important;
	margin-bottom: 12px;
}
.post-meta a {
	font-weight: 400;
}
.isotope-post-meta {
	font-size: 12.5px;
	color: #bbb !important;
	margin-bottom: 12px;
}
.classic .isotope-post-meta {
	display: none;
}
.post-icons {
	color: #ccc;
	font-size: 12.5px;
	padding: 10px 14px;
	margin-top: 0px;
	text-align: center;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #ccc;
}
.post-icons:hover {
	border: 1px solid #999;
}
.post-icons .time-ago {
	color: #999;
	margin-right: 12px;
	padding-right: 12px;
	border-right: 1px solid #ccc;
}
.isotope .time-ago {
	display: none;
}
.isotope .post-icons {
	border: none;
	padding: 0px 0px;
	padding-top: 2px;
}
.isotope .post-icons a:last-child {
	margin-left: 0px;
	border-left:  none;
}
.isotope .post-meta {
	display: none;
}
.post-icons a {
	color: #666;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari */
	font-weight: 300 !important;
}
.post-icons a:last-child {
	margin-left: 12px;
	padding-left: 12px;
	border-left:  1px solid #ccc;
}
.post-icons [class*="icon"] {
	color: #ddd;
}
.post-icons a:hover, .post-icons a:hover [class*="icon"] {
	color: #4DD2B8 !important;
}
.post-icons .voted i, .post-icons .voted span {
	color: #EF6957 !important;
}
.single .entry {
	border: 0;
	padding: 0 0 0 0;
}
.entry img {
	max-width: 508px;
	height: auto;
}
.entry-video {
	height: 400px;
	overflow: hidden;
	margin-bottom: 22px;
}
.isotope .entry-video {
	height: 220px;
}
.entry .post-categories, .entry .post-categories li {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	list-style-type: none;
}
.entry .post-categories li a {
	font-size: 11px;
	color: #bbb;
}
.entry ul, .entry ol {
	margin-left: 30px; margin-bottom: 12px;
}
.entry ul li {
	list-style-type: square;
	font-family: 'Arimo', sans-serif; font-size: 12px; line-height: 20px;
	color: #666;
}
.hentry ul li {
	list-style-type: square;
	font-family: 'Arimo', sans-serif; font-size: 12px; line-height: 20px;
	color: #666;
	margin-left: 22px;
}
.single .type-post {
	border-bottom: 1px solid #e7e7e7;
}
.entry ol li {
	list-style-type: decimal;
	font-size: 12px; line-height: 20px;
	color: #666;
}
.entry, .entry-page {
	font-size: 12px;
	color: #888;
}
.entry p {
	margin-bottom: 12px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.entry-team p {
	margin-bottom: 0px;
	border-top: 1px dotted #ccc;
	padding-top: 12px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.entry p:last-child {
	margin-bottom: 0px !important;
}
.entry-footer {
	height: 30px; width: 100%;
	position: relative;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
	border-top: 1px dotted #ddd;
}
.entry-footer .time {
	font-size: 11.5px;
}
.entry-footer .author {
	font-size: 11.5px;
	font-style: italic;
}
.entry-footer li {
	color: #333;
	font-size: 12px;
	margin-right: 12px;
	line-height: 40px;
	padding-top: 12px;
	display: inline-block;
}
.entry-footer li a {
	color: #555;
}
.entry-footer ul, entry-footer li {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.entry-footer li, .entry-footer li a, .entry-footer li span {
	text-decoration: none;
	line-height: 25px !important;
	color: #888 !important;
}
.icon {
	width: 13px; height: 13px;
	display: inline-block;
	position: relative; 
	top: 3px;
	margin-right: 0px;
}
.like {
	background: url(img/icon_like.png) no-repeat center; background-size: contain;	
	margin-right: 3px;
}
.entry-meta {
	padding-top: 15px !important;
	border-top: 1px dotted #ccc;
}
.entry-meta, .entry-meta li {
	margin: 0 0 0 0 !important;
	list-style-type: none !important;
	font-size: 11.5px !important;
}
.entry-meta li {
	display: inline-block;
	height: 13px;
	color: #888 !important;
}
.meta-like, .meta-comment {
	float: right;
}
.meta-like {
	padding-right: 12px;
}
.meta-author {
	padding-left: 6px;
}
.entry-meta .faded {
	color: #ccc;
}
.post-pagi {
	font-size: 12px;
	margin-bottom: 30px;
	padding-left: 22px;
}
.next-post a {
	display: inline-block;
	height: 38px;
	width: 38px;
	border-radius: 3px;
	background: #333;
	background-image: url(img/nextpost.png);
	background-size: 28px 28px;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all 0.4s;
	-moz-transition: all 0.4s; /* Firefox 4 */
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	-o-transition: all 0.4s; /* Opera */
}
.next-post a:hover {
	background: #000;
	background-image: url(img/nextpost.png);
	background-position: center center;
}
.prev-post a {
	display: inline-block;
	height: 38px;
	width: 38px;
	border-radius: 3px;
	margin-right: 3px;
	background: #333;
	background-image: url(img/prevpost.png);
	background-size: 28px 28px;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all 0.4s;
	-moz-transition: all 0.4s; /* Firefox 4 */
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	-o-transition: all 0.4s; /* Opera */
}
.prev-post a:hover {
	background: #000;
	background-image: url(img/prevpost.png);
	background-position: center center;
}

/* Entry hover effect */
.view {
	position: absolute;
	top: 50%;
	margin-top: -13px;
	text-align: center;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 0.2s ease-in; 
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
	display:table-cell; 
	vertical-align:middle;
}
.view [class*="icon"]:first-child {
	margin-right: 6px;
	position: relative;
	left: -30px;
}
.view [class*="icon"]:last-child {
	margin-right: 6px;
	position: relative;
	right: -30px;
}
.view [class*="icon"] {
	color: #fff;
	background: #4DD2B8;
	padding: 10px 10px;
	border-radius: 2px;
	transition: all 0.2s ease-in; 
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
}
.entry-image:hover .view {
	opacity: 1;
}
.entry-image:hover .view [class*="icon"]:last-child {
	position: relative;
	right: 0px;
}
.entry-image:hover .view [class*="icon"]:first-child {
	position: relative;
	left: 0px;
}
.view [class*="icon"]:hover {
	background: #111;
}

/*-----------------------------------------------------------------------------------*/
/*	8. Post Formats
/*-----------------------------------------------------------------------------------*/

/* Post Type: Image/Gallery */
.entry-image {
	width: 100%;
	position: relative;
	background-size: cover; background-position: center; background-repeat: no-repeat;
	display:table;
	margin-bottom: 22px;
}

.type-portfolio .entry-image{
   margin-bottom:0px !important;
}
.type-portfolio .entry-image p{
   margin-bottom:0px !important;
}
.type-portfolio{
   margin-bottom:22px !important;
}
.type-portfolio h1.heading{
   margin-bottom: 0px !important;
}

.widget-slider .entry-image {
	margin-bottom: 0px;
}
.fancybox-inner .entry-image {
	margin-bottom: 0px;
}
.widget-slider {
	margin-bottom: 22px;
}
.entry-image img {
	/*width: 100%;*/
}
.entry-image-overlay {
	width: 100%; height: 100%;
	display: block;
	position: absolute; top: 0px;
	opacity: 0;
	background: url(img/overlay_bg.png); 
	background-size: 200px 200px;
	background-position: center; 
	background-repeat: repeat;
	transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; 
	-o-transition: all 0.3s ease-in;
}
.entry-image:hover .entry-image-overlay {
	opacity: 1;
	background-size:40px 40px, 100% 100%;
}

/* Post Type: Link */
.entry-link {
	background: #4DD2B8;
	position: relative;
	padding: 22px 22px 22px 22px;
	margin-bottom: 22px;
}
.entry-link a {
	margin-bottom: 0;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	margin-left: 15px;
	padding-left: 15px;
	position: relative;
	border-left: 1px solid #fff;
}
.entry-link a:hover {
	color: #fff !important;
}
.entry-link .icon-external-link {
	color: #fff;
}

/* Post Type: Quote */
.entry-quote {
	background: #4DD2B8;
	position: relative;
	padding: 22px 0 30px 0;
	margin-bottom: 22px;
}
.entry-quote p {
	margin-bottom: 0;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: -0.5px;
}
.entry-quote .large {
	font-size:28px;
}
.entry-quote blockquote {
	border-left: none;
	padding: 0px 14px 0px 14px;
	margin: 0 0 0px 20px;
}
.entry-quote .icon-quote-left, .entry-quote .icon-quote-right {
	opacity: 0.5;
}

/*-----------------------------------------------------------------------------------*/
/*	9. Comments
/*-----------------------------------------------------------------------------------*/

.avatar {
	width: 50px;
	float: left;
}
.comments {
	width: 400px;
}
.comment-meta {
	padding: 0 0 0 0;
	margin: 0;
}
.comment-meta p {
	display: inline-block;
	width: 100px;
	padding: 0 0 0 0;
	margin-bottom: 12px;
	font-size: 12px;
}
.comment-body, .comment-meta {
	margin: 0 0 0 68px;
	margin-bottom: 12px;
}
.comment-meta h4 {
	display: inline-block;
	padding: 0 0 0 0;
	margin: 0;
	font-size: 13px;
}
.comment-reply-link {
	font-size: 12px;
	display: inline-block;
	padding-bottom: 1px;
	font-weight: 400;
	border-bottom: 1px solid #555;
	margin-top: 12px;
	text-align: right;
}
.form-allowed-tags {
	display: none;
}
.comment-form-url, .comment-form-email, .comment-form-author {
	position: relative;
}
.form-icon {
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	top: 37px;
	right: 10px;
	opacity: 0.3;
}
.url-icon {
	background: url(img/icons/glyphicons_050_link.png) no-repeat center center;
	background-size: 15px 15px;
}
.email-icon {
	background: url(img/icons/glyphicons_399_e-mail@2x.png) no-repeat center center;
	background-size: 15px 15px;
}
.commentlist {
	margin-left: 0px !important;
}
.commentlist .entry {
	padding: 22px 22px;
	border: 1px solid #e7e7e7;
	background: #fff;
}
.commentlist .page-numbers {
	font-size: 11px;
	padding: 6px 10px;
	margin-bottom: 22px;
	display: inline-block;
	margin-right: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.commentlist .page-numbers:hover {
	background: #fff;
	padding: 6px 10px;
	margin-bottom: 22px;
	display: inline-block;
	margin-right: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.commentlist .current {
	font-size: 11px;
	background: #fff;
	color: #333;
	padding: 6px 10px;
	margin-bottom: 22px;
	display: inline-block;
	border: 1px solid #ccc;
}
.commentlist .current:hover {
	background: #fff;
}
.commentlist .children {
	margin-left: 40px;
}
#reply-title {
	margin-bottom: 6px !important;
	font-family: "Source Sans Pro";
	font-weight: 600;
	color: #555;
	font-size: 22px !important;
}
.logged-in-as {
	font-size: 13px !important;
}
.logged-in-as a {
	font-weight: 400;
}
.comment-notes {
	padding-bottom: 22px;
	border-bottom: 1px solid #e7e7e7;
}
.icon-nocomments {
	background: url(img/icons/glyphicons_244_conversation.png) top center no-repeat;
	background-size: 25px 18px;
	height: 18px;
	width: 75px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px dashed #ccc;
	opacity: 0.7;
}
.no-comments {
	margin-bottom: 12px;
}
.commentlist .current-post-page:hover {
	background: #fff;
}

/*-----------------------------------------------------------------------------------*/
/*	10. Elements
/*-----------------------------------------------------------------------------------*/

.package {
	border: 1px solid #e1e1e1;
	margin-bottom: 30px;
}
.package ul li {
	padding: 16px 22px 16px 22px;
	margin: 0 0 0 0;
	list-style-type: none;
	border-bottom: 1px solid #e1e1e1;
	text-align: center;
}
.price {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e1e1e1;
}
.price .currency {
	font-size: 18px;
	position: relative;
	left: -6px;
	top: -20px;
	font-weight: normal;
	color: #ccc;
}
.price .amount {
	font-size: 52px;
	font-weight: 600;
	color: #555;
	line-height: 52px;
}
.price p {
	margin-bottom: 0px;
}
.package-name {
	color: #fff;
	background: #fff;
	padding: 32px 22px 32px 22px;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}
.package-name h2 {
	color: #555;
	margin-bottom: 0px;
}
.package-name span {
	padding: 10px 10px;
	background: #5ED2C6;
	font-size: 12px;
	color: #fff;
	border-radius: 3px;
	margin-left: 12px;
}
.buy-button {
	padding: 30px 30px;
	text-align: center
}
.buy-button a {
	padding: 14px 18px;
	background: #444;
	color: #fff;
	border-radius: 5px;
	font-size: 12px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.buy-button a:hover {
	background: #5ED2C6;
}

/* Buttons */
.button {
	padding: 12px 12px 12px 12px;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	border-radius: 5px;
	color: #fff !important;
	border: 1px #3aa691 solid; 
	box-shadow:inset 0px 1px 0px 0px #86f1dc;
	text-shadow: 1px 1px #3aa691;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	background: #4DD2B8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s; /* Safari */
}
.button:hover {
	color: #fff;
	background: #2dc8aa !important;
	border: 1px #3aa691 solid;
}
.xsmall {
	padding: 3px 7px 3px 7px;
	font-size: 11px;
}
.small {
	padding: 8px 12px 8px 12px;
	font-size: 12px;
}
.medium {
	padding: 12px 16px 12px 16px;
	font-size: 14px;
}
.large {
	padding: 22px 30px 22px 30px;
	font-size: 16px;
}

/* Carousel */
.carousel-control-container .left {
	left: -75px;
}
.carousel-control-container .right {
	right: -75px;
}
.carousel-control {
	background-color: transparent;
	opacity: 1;
	border-radius: 0;
	border: 0;
	opacity: 0.4;
}

/* Client Logo */
.client-logo {
	width: 100%;
	height: auto;
}

/*-----------------------------------------------------------------------------------*/
/*	11. Social Icons
/*-----------------------------------------------------------------------------------*/

.social {
	height: 24px;
	position: absolute;
	right: 0;
	margin-top: -34px;
	margin-right: 22px;
	z-index: 100000;
}
.social-button {
	opacity: 0.6;
	cursor: pointer;
	display: inline-block;
	margin-left: 4px;
	height: 27px;
	width: 30px;
}
.social-button a {
	display: block;
}
.social-button:hover {
	opacity: 1;
}
.social-button-team {
	opacity: 1;
	cursor: pointer;
	display: inline-block;
	padding-left: 5px;
}
.social-button-team a {
	display: block;
}
.social-button-team a img {
	height: 20px !important;
	width: auto !important; 
}
.social-button-team:hover {
	opacity: 1;
}
.mobile-footer {
	display: none;
	text-align: center;
	margin-top: 44px;
	opacity: 0.9;
}
.mobile-footer p {
	color: #808693;
	margin-top: 11px;
	font-size: 12px;
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.mobile-footer ul li { 
	display: inline-block;
	padding-right: 2px;
}

/*-----------------------------------------------------------------------------------*/
/*	12. Pages
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	13. Wordpress Core
/*-----------------------------------------------------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.sticky { 
	color:red; 
}
.gallery-caption {
	
}
.bypostauthor {
	
}
.clearboth {
	height: 0;
	clear: both;
	margin: 0;
	padding: 0;
}
.emptyspace {
	height: 22px;
	width: 100%;
}
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

/*-----------------------------------------------------------------------------------*/
/*	14. Widgets
/*-----------------------------------------------------------------------------------*/

.widget a {
	font-weight: 400;
}

/* Footer Widgets */
.footer-widget {
	font-family: 'Oswald' !important; 
	font-size: 13px; 
	line-height: 20px;
	color: #fff; 
}
.footer-widget > .span3 {
	border-right: 1px solid #333;
	padding-right: 30px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.sub-footer .footer-widget:last-child > .span3 {
	border-right: none;
}
.footer-widget .widgettitle {
	font-size: 14.5px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: -0.2px;
	color: #555;
	padding-bottom: 22px;
}
.footer-widget ul li {
	padding-bottom: 0 !important;
}
.footer-widget .widget ul li {
	padding-bottom: 12px !important;
	padding-top: 12px;
	border-bottom: 1px solid #333;
	color: #888;
	font-family: "Source Sans Pro";
}
.footer-widget .widget ul li:first-child {
	padding-top: 0px;
}
.footer-widget .widget ul li:last-child {
	border-bottom: none;
}
.footer-widget a {
	color: #bbb;
}
.footer-widget a:hover {
	color: #fff;
}
.footer-widget p {
	color: #888;
}
.footer-widget .post-date {
	color: #666;
	font-size: 13px;
}
.footer-widget .post-date:before {
    content: "\a";
    white-space: pre;
}
.footer-widget .tagcloud a {
	background: #222;
	padding: 6px 12px;
	margin-bottom: 4px;
	margin-right: 4px;
	display: inline-block;
	float: left;
}
.footer-widget .tagcloud a:hover {
	background: #fff;
	color: #fff !important;
}
.footer-widget address {
	color: #888;
}
.footer-widget .widget_text .widgettitle {
	display: none;
}
.footer-widget .widget_text .button {
	color: #fff !important;
	background: #222;
	border: none;
	box-shadow: none;
	text-shadow: none;
}

/* Sidebar Widgets */
.sidebar-widget {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	position: relative;
	margin-bottom: 50px;
	font-size: 13.5px;
	color: #666;
	line-height: 24px;
}
.sidebar-widget .widgettitle {
	font-size: 16px;
}
.textwidget {
	line-height: 24px;
	font-size: 14px;
	color: #555;
	font-weight: 300;
}
.textwidget p a {
	color: #ccc !important;
}
.textwidget p:last-child {
	margin-bottom: 0px;
}
.widget_search #s {
	height: 40px;
	font-size: 13.5px;
	padding-left: 12px;
}
.sidebar-widget .post-date {
	color: #888;
	font-size: 11px;
}
.sidebar-widget .post-date:before {
    content:"\a";
    white-space: pre;
}

/* calendar widget */
#wp-calendar {width: 100%;}
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; color: #fff;}
#wp-calendar thead th { padding-bottom: 10px; text-align: center; color: #333;}
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { font-size: 10px; color: #fff; background: #333; text-align: center; padding:3px;}
#wp-calendar tbody td:hover { background: #40434c; cursor: pointer; color: #fff}
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
#wp-calendar a {color: #fff;}
#wp-calendar a:hover {color: #fff !important;}
#wp-calendar th {color: #333 !important;}
#wp-calendar caption {color: #333 !important;}
#wp-calendar td a {color: #fff !important;}

.sidebar-widget ul li {
	font-size: 13px;
	font-weight: normal;
	font-weight: 300;
}
.sidebar-widget ul ul li {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 12px;
	padding-top: 12px;	
}
.sidebar-widget ul ul li:last-child {
	border-bottom: 0px dotted #ccc;
	padding-bottom: 0;
	padding-top: 12px;	
}
.sidebar-widget .widget_recent_entries ul li {
	background: #f3f3f3;
	padding-left: 12px;
	margin-bottom: 12px;
}
.sidebar-widget .widget_recent_entries ul li:last-child {
	background: #f3f3f3;
	padding-left: 12px;
	padding-bottom: 12px !important;
	margin-bottom: 0px;
	border-bottom: 1px dotted #ccc !important;
}
.tag-cloud a, .tagcloud a {
	background: transparent;
	font-size: 12px !important;
	padding: 5px 8px 5px 8px;
	margin-bottom: 4px;
	display: inline-block;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.tagcloud a {
	background: #333;
	border: 0;
}
.tagcloud a:hover {
	background: #F96E5B !important;
	color: #fff;
	border: 0;
}
.tag-cloud a:hover, .tagcloud a:hover {
	color: #fff !important;
	/*background: #333;*/
   background-color: #94C640!important;
}
.tag-cloud {
	margin-bottom: 22px;
}
.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	visibility: visible;
	padding: 5px;
	font-size: 11px;
	opacity: 0;
	filter: alpha(opacity=0);
}
.tagcloud .tooltip.in {
	opacity: 1;
	filter: alpha(opacity=80);
}
.tagcloud .tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #333;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.tagcloud .tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #fff;
}

/*-----------------------------------------------------------------------------------*/
/*	15. LayerSlider
/*-----------------------------------------------------------------------------------*/

.ls-nav-next {
	background: #000 url(img/slider_right.png) center center !important;
	background-repeat: no-repeat !important;
	height: 65px !important;
	width: 65px !important;
	opacity: 0.7;
	margin-right: 30px;
	border-radius: 5px;
}
.ls-bg {
	*transform: translateY(50px) !important;
}
.ls-nav-next:hover {
	opacity: 1;
}
.ls-nav-prev {
	background: #000 url(img/slider_left.png) center center !important;
	background-repeat: no-repeat !important;
		height: 65px !important;
	width: 65px !important;
	opacity: 0.7;
	margin-left: 30px;
	border-radius: 5px;
}
.ls-nav-prev:hover {
	opacity: 1;
}
.ls-wp-fullwidth-container {
	transition: all 0.1s;
    -webkit-transition: all 0.1s; /* Safari */
    background: #222 url(img/preloader.gif) center center no-repeat;
}
.layer-slider h1, .layer-slider h2, .layer-slider h3, .layer-slider h4, .layer-slider h5, .layer-slider h6 {
	color: #fff;
	font-family: "Source Sans Pro";
	text-shadow: 1px 1px #444;
	font-weight: bold !important;
}
.layer-slider h1 {
	font-size: 64px;
}
.layer-slider p {
	display: inline-block;
	width: 100% !important;
	font-family: "Source Sans Pro" !important;
	text-shadow: 1px 1px #444;
	font-weight: 300 !important;
}
.layer-slider .button, .parallax-section .button {
	background: none !important;
	font-size: 13px;
	border-radius: 0px;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-left: 0;
	padding-right: 0;
	padding: 14px 14px;
	border: 1px solid #fff !important;
	box-shadow: none;
	text-shadow: none !important;
	box-shadow: none !important;
}
.parallax-section .button {
	font-size: 12px;
}

.layer-slider .button:hover, .parallax-section .button:hover {
	background: #fff !important;
	color: #333 !important;
	border: 1px solid #fff;
	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}

/*-----------------------------------------------------------------------------------*/
/*	16. Visual Composer
/*-----------------------------------------------------------------------------------*/

.page .wpb_row:last-child {
	margin-bottom: 0px;
}
.wpb_row .row {
	margin-bottom: 0px;
}
.alert-demo {
	margin-bottom: 12px !important;
}
.wpb_alert p {
	color: inherit !important;
	font-size: 14px !important;
}
.wpb_alert {
	padding: 8px 8px 8px 8px !important;
}
.wpb_accordion_header a {
	padding: 15px 15px 15px 15px !important;
	padding-left: 0px !important;
	border-bottom: 1px solid #e1e1e1 !important;
	font-weight: 600;
}
.wpb_tabs .wpb_tab {
	padding: 22px 0px 0px 0px !important;
	background-color: transparent !important;
}
.wpb_tabs .ui-tabs-panel {
	padding-top: 30px !important;
}
.wpb_tabs .entry {
	margin-bottom: 0px;
}
.wpb_tour .wpb_tab {
	padding-left: 30px !important;
}
.ui-state-default {
	margin-bottom: 0px !important;
}
.wpb_tabs .ui-accordion-content {
	padding-left: 0px !important;
}
.wpb_tour .ui-tabs-anchor {
	transition: all 0.2s;
    -webkit-transition: all 0.2s; /* Safari */
}
.wpb_tour .ui-tabs-anchor:hover { 
	background: #f5f5f5;
}
.wpb_tabs .ui-tabs-anchor {
	padding: 12px 20px 12px 20px !important;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	color: #666 !important; 
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	background-color: #fff;
	margin-left: -1px;
	border-top: 1px solid #e7e7e7 !important;
	border-bottom: 1px solid #e7e7e7 !important;
	border-right: 0px solid #e1e1e1 !important;
	    transition: all 0.2s;
    -webkit-transition: all 0.2s; /* Safari */
}
.wpb_tabs .ui-state-default:last-child .ui-tabs-anchor {
	border-right: 1px solid #e1e1e1 !important;
}
.wpb_tabs .ui-state-default:first-child .ui-tabs-anchor {
	border-left: 1px solid #e1e1e1 !important;
}
.wpb_tabs .ui-tabs-anchor:hover {
	background-color: #f5f5f5;
}
.wpb_tabs .ui-tabs-active .ui-tabs-anchor {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	color: #fff !important; 
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	background-color: #4DD2B8;
	border-top: 1px solid #4DD2B8 !important;
	border-bottom: 1px solid #4DD2B8 !important;
	border-left: none !important;
	border-right: none !important;
	position: relative;
}
.wpb_tabs .ui-tabs-active .ui-tabs-anchor:after {
	content: "";
	position: absolute;
	width: 0; 
	height: 0; 
	bottom: -8px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #60D7AB;
}
.wpb_tour .ui-tabs-anchor {
	padding: 12px 20px 12px 20px !important;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	color: #666 !important; 
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	background-color: #fff;
	border-left: 1px solid #e7e7e7 !important;
	border-right: 1px solid #e7e7e7 !important;
}
.wpb_tour .ui-state-default:last-child .ui-tabs-anchor {
	border-bottom: 1px solid #e1e1e1 !important;
}
.wpb_tour .ui-state-default:first-child .ui-tabs-anchor {
	border-top: 1px solid #e1e1e1 !important;
}
.wpb_tour .ui-tabs-active .ui-tabs-anchor {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	color: #fff !important; 
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	background-color: #4DD2B8;
	border-left: 1px solid #4DD2B8 !important;
	border-right: 1px solid #4DD2B8 !important;
	position: relative;
}
.wpb_call_to_action {
	background: #fff !important;
	border-bottom: 1px solid #e1e1e1 !important;
}
.vc_single_bar {
	background-color: #fff !important;
}
.vc_progress_bar .vc_label {
	color: #fff !important;
}
.vc_bar {
	background: #5ED2C6 !important;
}
.wpb_tour_next_prev_nav {
	display: none;
}
.wpb_button {
	padding: 12px 12px 12px 12px !important;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	color: #fff !important;
	border: 1px #3aa691 solid; 
	box-shadow:inset 0px 1px 0px 0px #86f1dc;
	text-shadow: 1px 1px #3aa691;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	background: #4DD2B8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s; /* Safari */
}
.wpb_heading {
	margin-bottom: 30px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	color: #444;
	font-size: 18px;
	padding-bottom: 12px;
	padding-top: 6px;
	border-bottom: 1px dotted #ddd;
	text-align: left;
}
.flex-direction-nav a {
	background: #333 !important;
	height: 50px !important;
	width: 50px !important;
	border-radius: 5px;
}
.flex-direction-nav .flex-next {
	margin-right: 20px !important; 
	background: #000 url(img/nextpost.png) center center no-repeat !important; 
}
.flex-direction-nav .flex-prev {
	margin-left: 20px !important;
	background: #000 url(img/prevpost.png) center center no-repeat !important; 
}
.flex-control-nav li {
	margin: 0px 5px !important;
}
.flex-control-nav li a {
	height: 10px !important;
	width: 10px !important;
}
.flex-active {
	background: #5ED2C6 !important;
}
.wpb_teaser_grid .post-thumb img {
	margin-bottom: 12px;
}
.wpb_separator {
	background: #e7e7e7;
	margin-bottom: 60px !important;
	margin-top: 30px;
}
.wpb_toggle {
	padding: 15px 15px 15px 15px;
	border-top: 1px solid #ddd;
	margin-bottom: 0px !important;
}
.wpb_toggle_content {
	margin-top: 0px !important;
}
.wpb_toggle:first-child {
	border-top: 0px;
}
.vc_pie_chart_value {
	font-size: 16px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	17. Misc
/*-----------------------------------------------------------------------------------*/

/* Flexslider */
.flexslider {
	margin-bottom: 0 !important;
	padding: 0 0 0 0 !important;
	box-shadow: none !important;
	border: 0px !important;
}

.flexslider li {
	margin: 0 0 0 0 !important;
	list-style: none !important;
}
.flex-control-nav {
	display: none;
}

/* Twitter API */
.tweet_text {
	font-size: 20px;
	font-weight: 500;
}
.tweet_text a {
	color: #EF6956;
	transition: all 0.3s;
	-webkit-transition: all 0.3s; /* Safari */
}
.tweet_text a:hover {
	color: #333;
}
.tweet_time {
	display: block;
	margin-top: 18px;
	font-weight: 300 !important;
}
.tweet_time a {
	font-weight: 300;
	color: #777 !important;
}

/* Category Filter */
.category-filter-container {
	width: 100%;
}
.category-filter-button {
	border: 1px solid #c1c1c1;
	font-weight: bold;
	font-size: 12px;
	padding: 12px 12px;
	color: #666;
	width: 180px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	position: relative;
	margin-bottom: 30px;
}
.category-filter-button:hover {
	border: 1px solid #ccc;
	font-weight: bold;
	padding: 12px 12px;
	color: #333;
	width: 180px;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-bottom: 1px solid #fff;
}
.category-filter {
	display: none;
	position: absolute;
	margin-top: 12px;
	margin-left: -13px;
	font-weight: normal;
	text-transform: none;
	letter-spacing: normal;
	z-index: 100000;
	text-align: left;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-top: 1px solid #fff;
	padding: 0px 0px;
	width: auto;
}
.category-filter li {
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.category-filter li a {
	background: #fff;
	width: 180px;
	display: block;
	color: #40434c;
	font-size: 13px !important;
	padding: 12px 12px;
	text-indent: 10px;
	transition: all 0.4s;
	-moz-transition: all 0.4s; /* Firefox 4 */
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	-o-transition: all 0.4s; /* Opera */
	font-weight: 300;
}
.category-filter li a:hover {
	background: #f1f1f1;
}

/* Breadcrumbs */
.page-callout {
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
}
.page-callout .button {
	margin-left: 30px;
}
.page-callout h2 {
	margin-bottom: 0px;
	padding-right: 30px;
	border-right: 1px solid #ddd;
}
.breadcrumbs {
	color: #888;
	font-size: 13px;
	font-family: "Source Sans Pro";
	font-weight: 300;
}
.breadcrumbs a {
	color: #555;
}
.breadcrumbs a:after {
	content: "/";
	padding-left: 8px;
	padding-right: 6px;
}
.breadcrumbs ul {
	display: inline-block;
	text-align: left;
	float: none;
	margin-left: 12px;
}
.breadcrumbs ul li {
	display: inline-block !important;
	font-family: "Source Sans Pro";
}
.page-name {
	text-align: right;
	font-weight: 600;
}

/* Full width section */
.full-width-light {
	margin-top: 30px;
	margin-bottom: 60px !important;
	padding-top: 60px;
	padding-bottom: 60px;
	box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	-webkit-box-sizing: content-box!important;
	margin-left: -50%;
    padding-left: 50%;
    padding-right: 50%;
    width: 100%;
    position: relative;
    z-index: 0;
    background: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.full-width-dark {
	margin-top: 30px;
	margin-bottom: 60px !important;
	padding-top: 60px;
	padding-bottom: 60px;
	box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	-webkit-box-sizing: content-box!important;
	margin-left: -50%;
    padding-left: 50%;
    padding-right: 50%;
    width: 100%;
    position: relative;
    z-index: 0;
    background: #333;
}
.full-width-dark h1, .full-width-dark h2, .full-width-dark h3, .full-width-dark h4, .full-width-dark h5, .full-width-dark h6 {
	color: #fff;
}
.full-width-dark p {
	color: #ccc;
}
.full-width-dark .vc_progress_bar {
	margin-bottom: 0px;
}

/* Paralax section */
.parallax-section {
	margin-top: 30px;
	margin-bottom: 60px !important;
	padding-top: 80px;
	padding-bottom: 80px;
	box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	-webkit-box-sizing: content-box!important;
	margin-left: -50%;
    padding-left: 50%;
    padding-right: 50%;
    width: 100%;
    position: relative;
    z-index: 0;
    background: #fff;
    background-position: center 60%;
    background-size: cover;
}
.parallax-section h1, .parallax-section h2, .parallax-section h3, .parallax-section h4, .parallax-section h5, .parallax-section h6 {
	color: #fff;
}
.parallax-section p {
	color: #fff;
	font-size: 14px;
}
.parallax-section *:last-child {
	margin-bottom: 0px;
}

/* Team Icons */
.team-icons {
	font-size: 24px;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0px;
	color: #333;
}
.team-icons [class*="icon-"] {
	margin-right: 6px;
	color: #333;
	transition: all 0.2s ease-in; 
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
}
.team-icons [class*="icon-"]:hover {
	color: #5ED2C6;
}
.team-icons [class*="icon-"]:last-child {
	margin-right: 0px;
}

/* Tag Cloug */
.tag-cloud {
	width: 400px;
	display: inline-block;
}
.tag-cloud a {
	border: 0;
	background: #222;
	font-weight: 300;
	color: #fff !important;
}
.tag-cloud a:hover {
	border: 0;
	background: #EF6957;
	font-weight: 300;
	color: #fff !important;
}

/* Infinite scroll loading bar */
#infscr-loading {
	display: none !important;
}

.error-404 h1 {
	font-size: 100px;
}
.error-404 h2 {
	font-size: 30px;
	font-weight: 500;
}
.error-404 {
	text-align: center !important;
}
.isotope-preloader {
	background: url(img/isotope-preloader.gif) center center no-repeat;
	height: 250px;
}
.the-icons li {
	color: #333;
	padding: 6px 6px;
	list-style-type: none !important;
	list-style: none !important;
	display: inline-block;
}
.the-icons li i {
	font-size: 15px;
}



.wpb_gallery_slides ul li{
   margin:auto !important;
}

div.wpb_gallery_slides ul.wpb_image_grid_ul li.isotope-item{
   width: 150px !important;
   height: 150px !important;
   margin: 5px !important;
}

div.wpb_gallery_slides .wpb_image_grid_ul{
   padding: 15px !important;
}
.blog .entry-image{
   text-align: center;
}